{% extends 'base.html' %}

{% block content %}

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('socialize.user_feed') }}">Feed</a>
    <a class="navbar-brand" href="{{ url_for('auth.logout') }}">Logout</a>
  </nav>
</div>
<br />

<div class="container">
    <form method="post" action="/comment/{{ post_id }}/{{ post_user_id }}">
        <textarea 
            name="comment"
            class="form-control"
            placeholder="Comment here..."
            required >
        </textarea>
        <input type="submit" value="Comment" class="btn-block">
    </form>

    {% for comment in comments %}
        <p>{{ comment['username'] }} commented on 
            {{ comment['created'].strftime('%B %d, %Y') }} <br />
            {{ comment['comment_text']}}
        </p>
    {% endfor %}
</div>

{% endblock %}
