{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Make new Connections!{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('socialize.create') }}">New</a>
    <a class="action" href="{{ url_for('socialize.connection') }}">Connections</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post">
    <div class="container">
      <ul class="list-group">
        {% for user in users %}
          {% if user.username != g.user['username'] %}
          <a href="">
            <li class="list-group-item">{{ user.username }}</li>
          </a>
          {% endif %}
        {% endfor %}
      </ul>
      
      <input type="submit" value="Save">
    </div>
  </form>
{% endblock %}