{% extends 'base.html' %}

{% block content %}

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('socialize.user_feed') }}">Feed</a>
    <a class="navbar-brand" href="{{ url_for('socialize.user_connection') }}">Following</a>
    <a class="navbar-brand" href="{{ url_for('auth.logout') }}">Logout</a>
  </nav>
</div>
<br />

<div class="container">
  {% for user in users %}
  <form method="post" action="{{ url_for('socialize.connection') }}">
    <input
      type="hidden"
      id="new_user_id"
      name="new_user_id"
      value="{{ user['user_id']}}"
    />
    <button type="submit" class="btn-block">
      {{ user.username }}
    </button>
  </form>
  {% endfor %}
</div>

{% endblock %}
