{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('socialize.create') }}">New</a>
    <a class="action" href="{{ url_for('socialize.index') }}">Trending</a>
    <a class="action" href="{{ url_for('socialize.user_feed') }}">Feed</a>
    <a class="action" href="{{ url_for('socialize.connection') }}">Connections</a>
  {% endif %}
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="image_caption">Caption</label>
    <input name="image_caption" id="image_caption" value="{{ request.form['image_caption'] }}" required>
    <!-- <label for="image_url">Image</label>
    <textarea name="image_url" id="image_url">{{ request.form['image_url'] }}</textarea> -->
    <input type="file" name="file" accept=".jpg, .jpeg, .png" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}
