{% extends 'base.html' %}

{% block content %}
<main id="main">
    <!-- Header -->
    <header id="header">
        <h1>Socialize</h1>
        
        {% if g.user %}
        <h4><a href="{{ url_for('socialize.profile')}}"> {{ g.user['username'] }} </a></h4>
        <ul class="icons">
            {% if url_for(request.endpoint) == url_for('socialize.index') %}
            <li style="padding: 0.25em;">
                <a href="{{ url_for('socialize.user_feed')}}">Feed</a>
            </li>
            {% else %}
            <li style="padding: 0.25em;">
                <a href="{{ url_for('socialize.index')}}">Trending</a>
            </li>
            {% endif %}
            <li style="padding: 0.25em;">
                <a href="{{ url_for('socialize.create') }}">Create</a>
            </li>
            <li style="padding: 0.25em;">
                <a href="{{ url_for('socialize.connection')}}">Connect</a>
            </li>
            <li style="padding: 0.25em;">
                <a href="{{ url_for('socialize.user_activity')}}">User Activity</a>
            </li>
            <li>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
        </ul>

        {% else %}
        
        <ul class="icons">
            <li>
            <a href="{{ url_for('auth.login') }}"> Login </a>
            </li>
        </ul>
        {% endif %}
    </header>
    
    <!-- Content -->
    <section id="thumbnails">
        {% for post in posts %}
        <article>
            <a class="thumbnail" href="{{ url_for('static', filename='images/') }}{{ post['image_url'] }}" data-position="left center">
            <img
                src="{{ url_for('static', filename='images/') }}{{ post['image_url'] }}"
                alt="{{ post['image_caption'] }}"
            />
            </a>
            <h4>by {{ post['post_user_id'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</h4>
            <p>{{ post['image_caption'] }}</p>
            
            <ul class="icons">
                <!-- like -->
                <li>
                    {% if post[-1] != None : %}
                        <button style="color : green;" onclick="
                                like('{{ post['post_id'] }}/{{ post['post_user_id'] }}')">
                            <span>
                                {{ post['num_likes'] }}
                                <i class="fas fa-heart"></i>
                            </span>
                        </button>
                    {% else %}
                        <button onclick="
                                like('{{ post['post_id'] }}/{{ post['post_user_id'] }}')">
                            <span>
                                {{ post['num_likes'] }}
                                <i class="fas fa-heart"></i>
                            </span>
                        </button>
                    {% endif %}
                </li>

                <!-- comment -->
                <li>
                    <a href="/comment/{{ post['post_id'] }}/{{ post['post_user_id'] }}">
                        <button>
                            <span>
                                {{ post['num_comments'] }}
                                <i class="fas fa-comment"></i>
                            </span>
                        </button>
                    </a>
                </li>

                <!-- share -->
                <li>
                    <button onclick="
                            share('{{ post['image_url']|safe }}/{{ post['image_caption']|safe }}')">
                      <i class="fas fa-share"></i>
                    </button>
                </li>

                <!-- delete -->
                {% if g.user['user_id'] == post['post_user_id'] %}
                <li>
                    <a href="/delete/{{ post['post_id'] }}/{{ post['image_url']|safe }}">
                        <button>
                            <i class="fas fa-trash"></i>
                        </button>
                    </a>
                </li>
                {% endif %}
            </ul>

        </article>
        {% endfor %}
    </section>
</main>

<!-- Scripts -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script>
function like(like_url) {
    var xhttp = new XMLHttpRequest();
    console.log(like_url)
    xhttp.open("GET", `/like/${like_url}`, true);
    xhttp.send();
    window.location.reload()
}
function share(share_url) {
    var xhttp = new XMLHttpRequest();
    console.log(share_url)
    xhttp.open("GET", `/share/${share_url}`, true);
    xhttp.send();
    window.location.reload()
}
</script>
{% endblock content %}
