{% extends 'base.html' %}

{% block content %}


<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('socialize.user_feed') }}">Feed</a>
    <a class="navbar-brand" href="{{ url_for('socialize.connection') }}">Follow</a>
    <a class="navbar-brand" href="{{ url_for('auth.logout') }}">Logout</a>
  </nav>
</div>
<br />

<div class="container">
    <ul>
    {% for user_friend in user_friends %}
        <li class="list-group-item">{{ user_friend.username }}</li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
